* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.main-contaner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-size: cover;
  background-color: #ddd;
}
h1 {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0 !important;
  padding: 10px;
  background-color: #1d4e89;
}
.button-container {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
button {
  cursor: pointer;
  border: solid 4px #161616;
  border-top: none;
  border-radius: 20px;
  position: relative;
  box-shadow:
    0px 4px 10px #00000062,
    0px 10px 40px -10px #000000a6,
    0px 12px 45px -15px #00000071;
  transition: all 0.3s ease;
  padding: 10px;
  width: 25%;
}
button:active {
  box-shadow: none;
}
p{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}