* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.contaner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/back\ ground.jpg);
  background-size: cover;
}
.form-contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}
h1 {
  color: #ddd;
}
input {
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-image:
    linear-gradient(90deg, red 50%, transparent 50%),
    linear-gradient(90deg, green 50%, transparent 50%),
    linear-gradient(0deg, blue 50%, transparent 50%),
    linear-gradient(0deg, orange 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

  /* نحدد حجم الشرطة (15px عرض، 5px سمك البوردر) */
  background-size:
    15px 5px,
    15px 5px,
    5px 15px,
    5px 15px;

  /* نضع كل خلفية في مكانها الصحيح */
  background-position:
    100% 0,
    0 100%,
    100% 0,
    0 0;
  animation: border-move 3s infinite linear;
}
@keyframes border-move {
  from {
    background-position:
      0 0,
      0 100%,
      100% 0,
      0 100%;
  }
  to {
    background-position:
      30px 0,
      -30px 100%,
      100% 30px,
      0 -30px;
  }
}
button {
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background-color: #05b9c6;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background-color: white;
  color: #05b9c6;
}
.masseg,
.massegError,
.massegGood {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}
.masseg {
  display: none;
}
.massegError {
  background-color: rgba(255, 68, 68, 0.874);
  color: rgb(255, 255, 255);
  display: block;
}
.massegGood {
  background-color: rgba(255, 255, 255, 0.979);
  color: rgb(0, 4, 250);
  display: block;
}
