* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.contaner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-size: cover;
}
.form-contaner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-size: cover;
  padding: 0;
}
.title {
  width: 100%;
  text-align: center;
  background-color: rgb(91, 179, 247);
  margin-top: 0;
  padding: 10px 20px;
  color: white;
}
.input-contaner {
  width: 100%;
  padding: 0 5px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .input-contaner {
    width: 60%;
  }
}
.input-contaner input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.input-contaner button {
  width: 100%;
  background-color: rgb(55, 132, 249);
  color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}
.todo-contaner {
  width: calc(100% - 10px);
  border: 2px solid black;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  
}
@media (min-width: 992px) {
  .todo-contaner {
    width: 60%;
  }
}
.todo-contaner h2 {
  width: 100%;
  text-align: center;
  background-color: rgb(91, 179, 247);
  margin-bottom: 5px;
  padding: 10px;
  color: white;
}
.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid black;
}
.todo p {
  color: blue;
  font-weight: bold;
}
.todo button {
  color: red;
}
.masseg,
.massegError,
.massegGood {
  width: 50%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px 20px;
  font-weight: bold;
}
.masseg {
  display: none;
}
.massegError {
  background-color: rgba(255, 0, 0,0.2);
  color: red;
  display: block;
}
.massegGood {
  background-color: rgba(55, 132, 249,0.8);
  color: rgb(97, 239, 97);
  display: block;
}
