* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.contaner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}
.form-contaner {
  width: 100%;
  padding: 20px;
}
.form-contaner h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.form-contaner form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.form-contaner input {
  width: 100%;
  height: 2.5em;
  padding: 5px;
}
.form-contaner button {
  width: 100%;
  height: 2em;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}
.masseg,
.massegError,
.massegGood {
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px 20px;
  font-weight: bold;
}
.masseg {
  display: none;
}
.massegError {
  color: red;
  display: block;
}
.massegGood {
  color: blue;
  display: block;
}
