body {
  background-color: #020617;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.binary-container {
  background: #0f172a;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 800px;
  text-align: center;
  border: 1px solid #1e293b;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #1e293b;
  color: white;
  width: 80px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-btn {
  background: #0ea5e9;
  color: white;
}
.generate-btn {
  background: #8b5cf6;
  color: white;
} 
.reset-btn {
  background: #475569;
  color: white;
}

.array-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;
  min-height: 60px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cell.active {
  border-color: #2ecc71;
  background: #2ecc71;
  color: #0f172a;
  box-shadow: 0 0 20px rgba(46, 204, 113, 0.6);
  transform: scale(1.1);
}

.cell.ignored {
  opacity: 0.2;
  transform: scale(0.9);
}

.steps-box {
  background: #020617;
  border: 1px solid #1e293b;
  height: 220px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 12px;
  text-align: right;
  font-size: 14px;
}

.status-msg {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}
